#grid {
  display: grid;
  gap: 10px;
  height: 100px;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-template-areas:
    "header header header main main"
    "header header header main main"
    "section section section3 main main"
    "section section footer footer footer"
    "section section footer footer footer";
}

.box {
  border-radius: 7px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#item1 {
  background-color: #999999;
  grid-area: header;
}

#item2 {
  background-color: #999999;
  grid-area: main;
}

#item3 {
  background-color: #999999;
  grid-area: footer;
}

#item4 {
  background-color: #999999;
  grid-area: section;
}

#item5 {
  background-color: #999999;
  grid-area: section3;
}
